
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  width: 90%;
  max-width: 900px;
  margin: 32px auto;
}

.jumbotron {
  background-image: url('../public/weather.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #192655;
  text-align: center;
  padding: 50px 0;
}

.jumbotron h2 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.jumbotron .btn {
  display: inline-block;
  background-color: #192655;
  color: #F3F0CA;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}


weather-item {
  display: grid;
  margin-top: 32px;
  width: 100%;
  padding: 16px;
  gap: 1rem;
}

@media screen and (max-width: 559px) {
  .waraper {
    flex-flow: column nowrap;
    justify-content: left !important;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 911px) {
  weather-item {
    grid-template-columns: repeat(5, 1fr);
  }
  .weather-grid {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .five-day-forecast {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .error-message {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}